<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027529462134-pblpub93ilrr8erbenke4sa717qqbbe3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027529462134-pblpub93ilrr8erbenke4sa717qqbbe3</string>
	<key>API_KEY</key>
	<string>AIzaSyBFIJXN81rlWegGs4e96ealwGiz0lsEAFg</string>
	<key>GCM_SENDER_ID</key>
	<string>1027529462134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ellemotatutoriais.Push-test</string>
	<key>PROJECT_ID</key>
	<string>push-test-a4571</string>
	<key>STORAGE_BUCKET</key>
	<string>push-test-a4571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027529462134:ios:a5ee3625c973b48b</string>
	<key>DATABASE_URL</key>
	<string>https://push-test-a4571.firebaseio.com</string>
</dict>
</plist>